*{
    margin: none;
    font-family: "AppleBold";
}

@font-face {
    font-family: AppleBold;
    src: url("src/sf-pro-display_semibold.woff2");
}

@font-face {
    font-family: AppleRegular;
    src: url("src/sf-pro-text_regular.woff2");
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #353535;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

body{
    margin: 0px;
    background-color: #f5f5f7;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 1;
}

header .header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header svg {
    fill: #f5f5f7;
    width: 100px;
    margin: 40px;
}

header nav{
    margin-right: 40px;
}

header nav dl{
    display: flex;
}

header nav a{
    margin: 15px;
    padding: 2px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a:hover{
    transform: scale(1.05);
}

header nav dd{
    padding: 8px;
    margin-left: 0px;
    border-radius: 5px;
    transition: 0.3s;
}

main{
    align-items: center;
    justify-content: center;
    text-align: center;  
}

main video{
    width: 100%;
}

main h1{
    color: #1d1d1d;
    font-size: 60px;
    margin: 0;
}

main h2{
    color: #1d1d1d;
    margin: 0;
    font-family: "AppleRegular";
    font-weight: 100;
}

main .container{
    display: flex;
    align-items: center;
    justify-content:center
}

main img{
    position: absolute;
    bottom:0;
    width: 70%
}

.EVS{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #cacaca;
}

.EVS img{
    width: 50%;
}

.EVS .infos{
    width: 500px;
    height: 500px;
}

.EVS .infos h1{
    font-size: 60px;
    color: #1d1d1d;
    margin: 0;
}

.EVS .infos h2{
    font-size: 20px;
    color: #1d1d1d;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 100;
}

.EVS .infos h2, .EVS .infos .text,.EVS .infos button{
    font-family: AppleRegular !important;
    font-weight: 100;
}

.EVS .infos .text{
    text-align: justify;
}

.EVS .infos button {
    font-size: 15px;
    width: 160px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border: 1.5px solid #1d1d1d;
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EVS .infos button:hover{
    border: 2px solid #1d1d1d;
}

.material-symbols-outlined{
    transition: 0.3s;
}

.EVS .infos button:hover .material-symbols-outlined{
    transform: translate(5px);
}

@media (max-width: 700px){
    dd{
        margin-left: 15px !important;
    }
}