*{
    margin: none;
    font-family: "AppleBold";
}

@font-face {
    font-family: AppleBold;
    src: url("../src/sf-pro-display_semibold.woff2");
}

@font-face {
    font-family: AppleRegular;
    src: url("../src/sf-pro-text_regular.woff2");
}

body{
    margin: 0;
}

header{
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav dl{
    display: flex;
}

header nav a{
    color: #1d1d1f;
    text-decoration: none;
}

header nav dd{
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}

header nav dd:hover{
    background-color: #1d1d1f;
    color: white;
}

header .icon{
    width: 35px;
    height: 40px;
}

main video{
    width: 100%;
    position: absolute;
    top: 0;
}

main .container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container .pequeno{
    margin: 50px 0px 0px 100px;
    position: absolute;
    width: 270px;
}

main .container .infos-max, .infos-pro{
    display: grid;
    position: absolute;
}

main .container .infos-max{
    margin-right: 650px;
}

main .container .infos-pro{
    margin-left: 700px;
}

main .container .titulo{
    font-size: 20px;
}

main .container .sub-titulo{
    font-size: 40px;
}


footer{
    width: 100%;
    height: 70px;
    background-color: #1d1d1f;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer svg{
    font-size: 55px;
    margin-right: 20px;
}

footer span{
    font-size: 13px;
    color: #fff;
    font-family: "AppleRegular";
}


@media (max-width: 700px){
    dd{
        margin-left: 15px !important;
    }

    main .container span{
        display: none;
    }
}