* {
    margin: none;
    font-family: "AppleBold";
}

@font-face {
    font-family: AppleBold;
    src: url("../src/sf-pro-display_semibold.woff2");
}

@font-face {
    font-family: AppleRegular;
    src: url("../src/sf-pro-text_regular.woff2");
}

body {
    background-color: #f5f5f7;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav dl {
    display: flex;
}

header svg {
    fill: #1d1d1d;
    width: 100px;
}

header nav a {
    color: #1d1d1f;
    text-decoration: none;
}

header nav dd {
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}

header nav dd:hover {
    background-color: #1d1d1f;
    color: white;
}

header .icon {
    width: 35px;
    height: 40px;
}

main {
    min-height: 70vh;
}

main .container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

main .container .produto {
    padding-top: 10px;
    text-align: center;
    display: inline-flex;
    height: 350px;
    width: 350px;
    margin: 8px 8px 30px 8px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #00000012;
    transition: 0.5s;
    cursor: pointer;
}

main .container .produto:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #00000036;
}


main .container .produto span{
    margin: 10px 15px 15px 15px !important;
    color: #1d1d1f;
    font-size: 25px;
}

main .container .produto .fundo-imagem{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container .produto .fundo-imagem img{
    height: 200px;
}

main .container .produto .infos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
}

main .container .produto .infos .preco{
    width: 50%;
}

main .container .produto .infos .preco span{
    font-size: 20px;
    font-weight: 500;
    font-family: "AppleRegular";
}

main .container .produto .infos .preco .min{
    font-size: 16px;
}

main .container .produto .infos button{
    width: 100px;
    height: 50px;
    font-size: 16px;
    font-family: "AppleRegular";
    background-color: #1d1d1f;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

main .container .produto .infos button:hover{
    background-color: #171718;
}

footer{
    width: 100%;
    height: 70px;
    background-color: #1d1d1f;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer svg{
    font-size: 55px;
    margin-right: 20px;
}

footer span{
    font-size: 13px;
    color: #fff;
    font-family: "AppleRegular";
}


@media (max-width: 900px) {
    dd {
        margin-left: 15px !important;
    }
}